[package]
name = "consensus"
version = "0.1.0"
edition = "2024_07"

[dependencies]
utils = { path = "../utils" }

[dev-dependencies]
cairo_test.workspace = true

[scripts]
lint = "scarb fmt"

[features]
default = []
syscalls = ["utils/syscalls"]
blake2b = ["utils/blake2b"]
