name: check

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
permissions: read-all

jobs:
  test-cairo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.0"
      - run: scarb --version
      - run: scarb test --package consensus
      - run: scarb test --package utils
      - run: scarb --profile release test --package client
